{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    {% block meta %}{% endblock meta %}
    <meta charset="UTF-8">
{#    <link rel="stylesheet" type="text/css" href="{% static 'font/Silkscreen_Rus_by_Mr.Enot' %}">#}
    <link rel="stylesheet" href={% static "LHabrApp/base.css" %}>
    <title>{% block title %}  {% endblock %}</title>
    {% block style %}
    <style>
        {#for index page#}
        {##}
        {##}
{#        {% block style %}#}
        {#@font-face {#}
        {#    font-family: "Silkscreen_RUS_by_Mr_Enot";#}
        {#    src: url("{% static 'admin/fonts/Silkscreen/Silkscreen.ttf' %}");#}
        {#    font-size: 20px;#}

        {#body {#}
        {#    font-family: "Silkscreen_RUS_by_Mr_Enot";#}
        {#    margin: 0px;#}
        {#    background-color: aliceblue;#}

        {#div {#}
        {#    font-family: "Silkscreen_RUS_by_Mr_Enot";#}
        {#    margin: 100px;#}
        {#    font-size: 50px;#}
        {#    background-color: aliceblue;#}

        {#{% endblock style %}#}
    </style>
    {% endblock style%}
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            <p>
                Hi, {{  user.username }}!
            </p>
            <p>
                <a style="font-size: 16px" href="{% url 'create_post' %}">Создать запись</a>
            </p>
            <p>
                <a href="{% url 'logout' %}"> LogOut </a>
            </p>
        {% else %}
            <a href="{% url 'login' %}"> LogIn </a>
        {%  endif %}
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>
